<h1>Show</h1>
<p>
  Title:<br>
  <%= @question.title %>
</p>

<p>
  Name:<br>
  <%= @question.name %>
</p>

<p>
  Content:<br>
  <%= @question.content %>
</p>

<!-- 回答者と回答の一覧を表示 -->
<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <p>
    Name:<br>
    <%= answer.name %>
  </p>
  <p>
    Content:<br>
    <%= answer.content %>
  </p>
  <p>
    <!-- 配列で回答に紐づく質問と回答を指定する -->
    <%= link_to 'Destroy Answer', [answer.question, answer],
        data: { turbo_method: 'delete', turbo_confirm: 'Are you sure' }%>
  </p>
<% end %>

<!-- 回答フォーム -->
<h2>Add a answer</h2>
<!-- 質問に対して関連する回答を投稿するフォームを作成するには親と子のモデルをリストで渡す -->
<%= form_with model: [@question, @question.answers.build] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
<% end %><br>

<%= link_to 'top', questions_path %>